/*
Theme Name: WPDev4IM Shop
Theme URI: http://wpdev4im.com/
Author: Wisan
Author URI: http://wpdev4im.com
Description: Description
Version: 1.0
*/




/* =Content
----------------------------------------------- */

.sticky {}
.hentry {
	margin: 0 0 1.2em;
	padding: 0 0 1.2em;
	border-bottom:#eee solid 1px;
}
.hentry .entry-header{}
.hentry .entry-header .entry-title{ margin-bottom:0px; }
.hentry .entry-header .entry-title a{  }
.single .hentry .entry-header .entry-title{ padding-bottom:0;}
.single .hentry,
.page	.hentry{ border-bottom:none;  }
.entry-meta {
	clear: both;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 1.2em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.2em;
}

.page-header{ margin-bottom:20px; }

.attachment .entry-meta{ clear:none; float:left; }
#image-navigation{ text-align:right; }

.clear{ clear:both; }

#sidebar{ padding-top:0px; }

/* =Comments
----------------------------------------------- */

.comment-content a { word-wrap: break-word; }
.bypostauthor {}

#comments{ margin:0 0 1.2em; }
#comments h2{
	background: none repeat scroll 0 0 #F6F6F6;
    margin-bottom: 20px;
    padding: 10px;
}

.commentlist{ padding:0; margin:0; list-style:none;}
.commentlist li.comment{ padding: 0; min-height:70px; }
.commentlist li.comment .comment-content {
    padding-bottom: 0px;
    padding-left: 54px;
}
.commentlist li.comment .comment-author{}
.commentlist li.comment .comment-author img{ float:left; margin-right:10px;}
.commentlist li.comment .comment-meta{
	float: right;
    font-size: 11px;
    font-style: oblique;
    margin-top: -20px;
}
.commentlist li.comment .reply{
	background: none repeat scroll 0 0 #CCCCCC;
    color: #FFFFFF;
    font-size: small;
    margin-top: 0;
    padding: 5px;
    position: absolute;
    top: 60px;
}
.commentlist li.comment .reply a{
	color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 10px;
}
.commentlist li.comment .footer{}

.commentlist li.comment .children{
	list-style: none outside none;
    margin: 5px 0 5px 54px;
}
.commentlist li.comment article.comment{ background:#f6f6f6; padding:10px; margin-bottom:5px; position:relative; }
.commentlist li.comment article.comment .comment-content p{ margin:0; }

#respond{}
#respond #reply-title{ padding: 20px 0; }

#commentform{
	background: none repeat scroll 0 0 #F6F6F6;
    margin-bottom: 30px;
    padding: 30px;
 }
#commentform p{ margin-bottom:10px;}
#commentform .comment-notes{}
#commentform label{ width:100%; display:block;}
#commentform .comment-form-author{}
#commentform .comment-form-email{}
#commentform .comment-form-url{}
#commentform .comment-form-comment{}
#commentform .form-allowed-tags{}
#commentform textarea{
	height: 100px;
    line-height: 16px;
    overflow: auto;
    padding: 11px 7px 7px;
    vertical-align: top;
    width: 90%
}
#commentform .form-submit{}

.nocomments{ display:none; }

/* =Widgets
----------------------------------------------- */

.widget-title{
	background-color: #ffffff !important;
    color: #312e2b;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: uppercase;
 }
.widget {
	margin: 0 0 1.2em;
}
.widget ul{ padding:0; margin:0; list-style:none; }

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
#searchform .field{ width:130px; }
#searchsubmit {}

#sidebar-footer{ display:inline-block; }
#sidebar-footer .widget{
	float: left;
    font-size: 11px;
    padding: 15px 0 15px 35px;
    width: 145px;
}
#sidebar-footer .widget:first-child{ padding-left:0 }

.not-found{ height:400px; }




.navbar .nav.pull-right, #sideManu {
    overflow: visible;
}

.breadcrumb{
	margin: 0px 0; 
}


#footerSection a{ display: inline-block!important; }


#myCarousel{}
#myCarousel .item{ text-align: left; text-align: left; font-size: 18px; }
#myCarousel .item .container{ padding: 50px 0; }
#myCarousel .item img{ clear: both; }
#myCarousel .item h3{ font-size: 28px; line-height: 38px; text-transform: uppercase; }
#myCarousel .item .description{ margin-bottom: 20px; }
#myCarousel .item p{}
#myCarousel .item .price{ 
	color: red;
	font-size: 34px;
	font-weight: bold;
}
#myCarousel .item .btn{
	bottom: auto;
	display: inline-block;
	padding: 12px 40px;
	position: relative;
	right: auto;
	z-index: 9999;
}

.thumbnails{}
.thumbnails .thumbnail{}
.thumbnails .thumbnail .caption{ position: 5px; }
.thumbnails .thumbnail .title{
	height: 60px;
	overflow: hidden;
}

#myTab{ margin-bottom: 20px; }

.btn{ 
	border-radius: 3px;
	padding: 4px 10px;
}


#footerSection p{ margin-bottom: 0; }
.site-info{ float: right; margin-bottom: 0; }

.product-detail .product-title{
	line-height: 1.2em;
}
.product-detail .price{
	color: red;
	font-size: 28px;
	font-weight: bold;
	line-height: 32px;
}




#footerSection{}
#footerSection .widget{}
#footerSection .widget-title{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}


