#nhp-opts-heading{
	margin-bottom:20px;
}


#nhp-opts-form-wrapper{
	
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
border: 1px solid #e5e5e5;
	
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
	border-radius: 3px;
	
	margin-top: 36px;
}
#nhp-opts-form-wrapper #glyphicon .glyphicon-themes{ 
	margin: -8px 6px -8px -5px;
    padding: 0; 
}
#nhp-opts-form-wrapper #nhp-opts-heading{
	float: left;
    margin-bottom: -5px;
    margin-top: -4px;
    padding: 0;
}

#nhp-opts-form-wrapper .hr{
	height:1px;
	width:60%;
	border-bottom:1px solid #DFDFDF;
	margin: 0 auto;
	margin-bottom:-20px;
}

.nhp-opts-info-field{
	margin-bottom:-20px;
}

#nhp-opts-header,
#nhp-opts-footer{
	text-align:right;
	padding:20px;	
}
#nhp-opts-header{
	border-bottom:1px solid #DFDFDF;
}
#nhp-opts-footer{
	border-top:1px solid #DFDFDF;
}
#nhp-opts-footer #nhp-opts-share{
	float:left;
}
#nhp-opts-footer #nhp-opts-share a{
	margin-right:10px;
}
#nhp-opts-footer #nhp-opts-share a img{
	margin-bottom:-3px;
}


#nhp-opts-save{
	margin:0px;
	border-bottom:1px solid #DFDFDF;
    background-color: #DFF0D8;
    color: #468847;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#nhp-opts-imported{
	margin:0px;
	border-bottom:1px solid #BCE8F1;
    background-color: #D9EDF7;
    color: #3A87AD;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#nhp-opts-save-warn{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}



#nhp-opts-field-warnings{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}




#nhp-opts-field-errors{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
    background-color: #F2DEDE;
    color: #B94A48;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}


#nhp-opts-sidebar,
#nhp-opts-main{
	min-height:300px;
}
#nhp-opts-sidebar{
	width:200px;
	float: left;
}

.nhp-opts-menu-warning{
	background-color: #C09853;
    color: #FCF8E3;
	display: inline-block;
	float:right;
    padding: 6px 7px 4px 7px;
    margin-left:4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}

.nhp-opts-menu-error{
	background-color: #B94A48;
    color: #F2DEDE;
	display: inline-block;
	float:right;
    padding: 6px 7px 4px 7px;
    margin-left:4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}
	

#nhp-opts-main{
	background:#FFFFFF;
	margin-left:201px;
	border-left:1px solid #DFDFDF;
	padding:10px 20px;
}


#nhp-opts-sidebar #nhp-opts-group-menu{
	margin-top:0px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li{
	margin:0px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li.divide{
	padding:0px;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a{
	display:block;
	padding: 14px 14px;
	background: #eeeeee;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
    
    color: #333333;
    font-weight:bold;
    text-decoration:none;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a.custom-tab{
	background: #f6f6f6;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a img{
	width: 16px;
	height: 16px;
	/*vertical-align:middle;*/
	margin-bottom:-3px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li a:hover{
	background:#f9f9f9;
	width:174px;
	margin-right:-2px;
}
#nhp-opts-sidebar #nhp-opts-group-menu li.active a{
	background:#ffffff;
	width:174px;
	margin-right:-2px;
}






.nhp-opts-group-tab{
	display:none;
}
.nhp-opts-group-tab h3{
	margin-top: 0px;
	font-size: 1.8em;
	line-height: 2em;
	border-bottom: 1px solid #DFDFDF;
}
.nhp-opts-group-tab .nhp-opts-section-desc{
	font-style: italic;
	font-size:1.2em;
	color:#666666;
}
.nhp-opts-group-tab .form-table{
	border-top: 1px solid #DFDFDF;
	clear:none;
	margin-top:20px;
}
.nhp-opts-group-tab .form-table.no-border{
	border-top:none;
}
.nhp-opts-group-tab .form-table tr{
	border-bottom: 1px solid #DFDFDF;
}
.nhp-opts-group-tab .form-table tr:last-child{
	border-bottom: none;
}
.nhp-opts-group-tab .form-table tr th,
.nhp-opts-group-tab .form-table tr td{
	padding:20px 20px 40px 20px;
	color:#333333;
}
.nhp-opts-group-tab .form-table tr th{
	font-weight:bold;
	font-size:1.1em;
	width:30%;
}
.nhp-opts-group-tab .form-table tr th span:first-child{
	font-weight: normal;
	display:block;
	color:#666666;
}


.nhp-opts-group-tab .form-table tr td .nhp-opts-th-warning{
	font-size:1em;
    color: #C09853;
	font-weight:normal;
	display:block;
}
.nhp-opts-group-tab .form-table tr td .nhp-opts-field-warning{
	border-color:#C09853;
}


.nhp-opts-group-tab .form-table tr td .nhp-opts-th-error{
	font-size:1em;
	color:#B94A48;
	font-weight:normal;
	display:block;
}
.nhp-opts-group-tab .form-table tr td .nhp-opts-field-error{
	border-color:#B94A48;
}


/* reset nested tables for mce */
.nhp-opts-group-tab .form-table tr td table.mceLayout,
.nhp-opts-group-tab .form-table tr td table.mceLayout tr,
.nhp-opts-group-tab .form-table tr td table.mceLayout tr td{
	padding:0px;
	border-width:0px;
}


.nhp-opts-group-tab .nhp-opts-theme-data{
	padding:20px 0px;
	border-top: 1px solid #DFDFDF;
}
.nhp-opts-group-tab .nhp-opts-theme-data.theme-uri,
.nhp-opts-group-tab .nhp-opts-theme-data.theme-author,
.nhp-opts-group-tab .nhp-opts-theme-data.theme-version{
	padding:0px;
	border-width:0px;
}
.nhp-opts-group-tab .nhp-opts-theme-data.theme-description{
	padding:10px 0px;
	border-width:0px;
}





/*
 *
 * NHP_Options_radio_img
 *
 */
.nhp-radio-img input[type='radio']{
	display:none;
}
.nhp-radio-img,
.nhp-radio-img-selected{
	margin:6px;
	display:inline-block;
	padding:10px;
}
.nhp-radio-img-selected{
	background-color:#f9f9f9;
}
.nhp-radio-img img,
.nhp-radio-img-selected img{
	border-width:4px;
	border-style: solid;
}
.nhp-radio-img img{
	border-color:#e9e9e9;
}
.nhp-radio-img-selected img{
		border-color:#c9c9c9;
}



/*
 *
 * NHP_Options_color
 *
 */
.farb-popup-wrapper{
	position: relative;
	display: block;
}

.farb-popup{
	position: absolute;
	left: 40px;
	top: 40px;
	background-color: white;
	border: 1px solid #222;
	padding: 5px;
	z-index:100;
}



#nhp-opts-import-link-wrapper,
#nhp-opts-import-code-wrapper{
	display:none;
}

#nhp-opts-export-code,
#nhp-opts-export-link-value{
	display:none;
}
#nhp-opts-import-action span{
	color:#B94A48;
}
#import_divide{
	margin: 40px 0px;
	border-bottom: 1px solid #DFDFDF;
}





.nhp-opts-screenshot{
	max-width: 300px;
	display:block;
}





@media screen and (max-width : 900px) {
	#nhp-opts-sidebar{
		width:42px;
	}
	#nhp-opts-main{
		margin-left:43px;
	}
	.nhp-opts-group-tab-link-a{
		position: relative;
	}
	.nhp-opts-group-tab-link-a span{
		display:none;
		position:absolute;
		top: 0;
		left:44px;
		padding: 14px;
		width: 200px;
		background: #eeeeee;
		border: 1px solid #DFDFDF;
		border-width: 1px 1px 1px 0px;
	}
	.nhp-opts-group-tab-link-a:hover > span{
		display: block;
	}
	#nhp-opts-sidebar #nhp-opts-group-menu li a,
	#nhp-opts-sidebar #nhp-opts-group-menu li a:hover,
	#nhp-opts-sidebar #nhp-opts-group-menu li.active a,
	#nhp-opts-sidebar #nhp-opts-group-menu li.active a:hover{
		width:15px;
	}
	
	table.form-table, .form-table > thead, .form-table > tbody, .form-table > tbody > tr > th, .form-table > tbody > tr > td, .form-table > tbody > tr {
		display: block !important;
		width: 100% !important;
		padding: 0px !important;
	}
	.form-table > tbody > tr > th, .form-table > tbody > tr > td{
		padding: 10px !important;
	}
	.form-table > tbody > tr > td span.description{
		display: block;
	}
}